#imageUpload {
    margin: 20px;
}

#predictionResult {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}

#predictButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e60000;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos del header */
}

.header-content {
    display: flex;
    align-items: center; /* Centra verticalmente el logo y el título dentro de este contenedor */
}

#logo {
    width: 200px; /* Ajusta esto según el tamaño de tu logo */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el título */
}

header h1 {
    margin-left: 50px; /* Remueve el margen por defecto del título */
}
header p {
	margin-left: 50px; /* Remueve el margen por defecto del título */
	align-items:baseline; /* Centra verticalmente el logo y el título dentro de este contenedor */
}


#content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#imageSection, #messageSection {
    flex: 1;
    margin: 10px;
}

#imageSection {
    text-align: left; /* Alinea el contenido de esta sección a la izquierda */
}

#imagePreview {
    max-width: 100%;
    height: auto;
    display: block;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #6B6B6B;
}
